.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .loader {
        display: block;
    }

    .title {
        margin: 40px 0 24px 0;
        color: var(--dark);
        text-align: center;
        font-size: 48px;
    }

    .text {
        color: #373737;
        text-align: center;
    }
}
