.createPhoto {
    padding: 51px 60px;

    .logo {
        margin-bottom: 235px;
    }

    .title {
        margin-bottom: 24px;
    }

    .text {
        margin-bottom: 60px;
        max-width: 609px;
    }

    .button {
        width: 426px;
    }

    .timer {
        position: absolute;
        top: 373px;
        left: 365px;
    }

    .camera {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 180px;
        width: 607px;
        height: 1080px;

        video {
            //margin: 0 calc(50% - 50vw);
            height: 1080px;
            //top: -100px;
            //position: absolute;
        }
    }
}
